html,body{
  margin:0;
  padding:0;
  background-color:black;
  overflow:hidden;
}

.head {
  background-color: grey;
  padding-top:0px;
  padding-bottom:0px;
  border-bottom:1px;
}
#headText{
   display:inline-block;
  margin:0;
  padding-left:27px;
   color:#bf1313;
   font-family:Georgia;
     font-size:50px;
}
#headTextTwo{
  display:inline-block;
  padding-top:0;
  margin-left:5px;
  padding-left:0px;
   font-family:Georgia;
     font-size:25px;
}
#menu,ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: grey;
}

#menu,li a {
    display: block;
    color: #000;
    padding: 10px 32px;
    text-decoration: none;
}

#menu,li a:hover {
    background-color:#bf1313;
    color: white;
}
#adMenu{
  width:200px;
  height:560px;
  background-color:grey;
  overflow:hidden;
}
#bf1Ad{
  width:150px;
  margin-left:25px;
  border:1px black solid;
}
#adPara{
  position:absolute;
  padding-left:70px;
  font-size:25px;
  color:white;
  text-shadow:.5px 1px #d31;
}
#basicPara{
  width:650px;
  float:right;
  position:absolute;
  top:105px;
  right:200px;
}
#basicParaText{
  background-color:grey;
  color:white;
  
}
#headTextPara{
   display:inline-block;
  padding-top:0;
  margin-left:5px;
  padding-left:0px;
   font-family:Georgia;
     font-size:25px;
     color:white;
}
#basicParaText a{
  background-color:grey;
  color:white;
  text-decoration:none;
}
#basicParaText a:hover{
  background-color:grey;
  color:#bf1313;
  text-decoration:none;
}
.videoFrame{
  
}
